@media (min-width: 360px) {
  #scroll-top-button {
    position: fixed;
    bottom: 6rem;
    right: 0.5%;
    text-decoration: none;
    color: black;
    background-color: transparent;
    font-size: 1.9rem;
  }
}
@media (min-width: 768px) {
  #scroll-top-button {
    position: fixed;
    bottom: 5rem;
    right: 0.2%;
    text-decoration: none;
    color: black;
    background-color: transparent;
    font-size: 2.8rem;
  }
}
@media (min-width: 1300px) {
  #scroll-top-button {
    position: fixed;
    bottom: 4rem;
    right: 0.5%;
    text-decoration: none;
    color: black;
    background-color: transparent;
    font-size: 4.5rem;
  }
}
.navbar-brand img {
  width: 8rem;
  height: 8rem;
  animation-name: animacion_logo;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-delay: 0s;
}

@keyframes animacion_logo {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}
.menu_nav {
  background-color: white;
}

.caja_centrada {
  margin: 1rem;
  padding: 1rem;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.font-bangers {
  font-family: "Bangers", cursive;
}

.card_scale {
  transition: transform 400ms ease-in-out;
}
.card_scale:hover, .card_scale:focus-within {
  transform: scale(1.06);
}

.titulo {
  padding-top: 14rem;
  padding-bottom: 8rem;
}

.borde_rosa {
  border: 3px solid #8d787d;
}

.borde_verde {
  border: 3px solid #336151;
}

.borde_bordo {
  border: 3px solid #6f1f28;
}

.borde_rojo {
  border: 3px solid rgb(156, 9, 9);
}

.sobre_nosotros {
  background-color: black;
  color: white;
}
.sobre_nosotros h2 {
  padding-bottom: 4rem;
}
.sobre_nosotros h4 {
  padding-bottom: 2rem;
}

.card_style {
  border: 2px solid rgb(156, 9, 9);
  background-color: #bbb2b2;
  color: black;
}

.card-body {
  background-color: #f2f1ed;
}

.carrusel_novedades {
  padding-top: 20rem;
  padding-bottom: 8rem;
}

.foto_generos {
  width: 100%;
  height: 27.5rem;
}

.card-body {
  background-color: #f2f1ed;
}

.text_white {
  color: black;
  text-decoration: none;
}

.bg-foro {
  background-image: url("../imagenes/ochaco.jpeg");
  background-size: cover;
  background-position: center;
}

.bg-foro-1 {
  background-image: url("../imagenes/deku_foro.png");
  background-size: cover;
  background-position: center;
}

.bg-foro-2 {
  background-image: url("../imagenes/todoroki_foro_2.jpeg");
  background-size: cover;
  background-position: center;
}

.bg-foro-3 {
  background-image: url("../imagenes/academy_foro_busqueda.jpeg");
  background-size: cover;
  background-position: center;
}

.form-label-style {
  color: black;
  font-size: 22px;
  background-color: #bbb2b2;
}

.bg-contacto {
  background-image: url("../imagenes/pochita_bg.jpeg");
  background-size: cover;
  background-position: center;
}

footer {
  background-color: black;
  margin-top: 5rem;
}
footer .footer-sm {
  background-color: rgb(156, 9, 9);
  color: white;
}
footer .footer-sm a {
  color: white;
}
footer .footer-sm .footer-sm__icons {
  text-align: center;
}
footer .footer-bottom__copyright {
  text-align: center;
  color: gray;
  background-color: black;
}
footer .footer-bottom__copyright a {
  color: gray;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
