.navbar-brand img {
  width: 8rem;
  height: 8rem;
}
.menu_nav {
  background-color: white;
}
.titulo {
  padding-top: 14rem;
  padding-bottom: 8rem;
}

.sobre_nosotros {
  background-color: black;
  color: white;
}

.sobre_nosotros h2 {
  padding-bottom: 4rem;
}
.sobre_nosotros h4 {
  padding-bottom: 2rem;
}

.carrusel_novedades {
  padding-top: 20rem;
  padding-bottom: 8rem;
}

.foto_generos {
  width: 100%;
  height: 27.5rem;
}
.borde {
  border: 2px solid brown;
  margin: 1rem;
  padding: 1rem;
}

footer {
  background-color: black;
  margin-top: 5rem;
}

.footer-sm {
  background-color: darkred;
  color: white;
}

.footer-sm a {
  color: white;
}
.footer-sm__icons {
  text-align: center;
}
.footer-bottom__copyright {
  text-align: center;
  color: gray;
  background-color: black;
}
.footer-bottom__copyright a {
  color: gray;
  text-decoration: none;
}
.card_style {
  border: 2px solid rgb(156, 9, 9);
  background-color: #bbb2b2;
  color: black;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.font-bangers {
  font-family: "Bangers", cursive;
}
.card-body {
  background-color: #f2f1ed;
}

.bg-contacto {
  background-image: url("../imagenes/pochita_bg.jpeg");
  background-size: cover;
  background-position: center;
}

.form-label-style {
  color: black;
  font-size: 22px;
  background-color: #bbb2b2;
}
/* .bg-foro {
    background-image: url("../imagenes/Nezuko_haori.jpeg");
    background-size: cover;
    background-position: center;
  } */
