.foto_generos {
  width: 100%;
  height: 27.5rem;
}
.card-body {
  background-color: $background-text-card;
}
#scrollButton.show {
  display: block;
}
#scrollButton,
.btn:focus {
  outline: none;
  border: none;
}
