.borde {
  border: 2px solid $terciary-color;
  margin: 1rem;
  padding: 1rem;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
.font-bangers {
  font-family: $font-titulo;
}
.card_scale {
  transition: transform 400ms ease-in-out;

  &:hover,
  &:focus-within {
    transform: scale(1.06);
  }
}
.titulo {
  @include padding_top_bottom(14rem, 8rem);
}
