@media (min-width: 280px) {
  #scrollButton {
    display: none;
    position: fixed;
    bottom: 7rem;
    right: 1%;
    z-index: 9999;
    background-color: transparent;
    color: black;
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  #scrollButton {
    bottom: 5.5rem;
    font-size: 2rem;
  }
}

@media (min-width: 990px) {
  #scrollButton {
    bottom: 5rem;
    right: -1%;
    font-size: 2.5rem;
  }
}

@media (min-width: 1300px) {
  #scrollButton {
    bottom: 3.6rem;
    font-size: 4rem;
  }
}

@media (min-width: 1400px) {
  #scrollButton {
    right: -0.9%;
  }
}
@media (min-width: 1440px) {
  #scrollButton {
    right: 1%;
  }
}
