$primary-color: white;
$secondary-color: black;
$terciary-color: rgb(156, 9, 9);
$background-color-foot: gray;
$background-color-card: #bbb2b2;
$background-text-card: #f2f1ed;
$font-titulo: "Bangers", cursive;
